.grid-cell {
    background-color: #fff;
    height: 50px;
    width: 50px;
}

.tower {
    position: relative; /* Necessary for positioning pseudo-elements */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* For text or icons inside the tower */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    display: flex;
    align-items: stretch;
}

.tower-selection {
    flex: 1;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #e0e0e0;
    text-align: center;
}

.tower-selection:hover {
    background-color: #d0d0d0;
}

.tower-selection.active {
    background-color: #778beb;
    color: white;
    border-color: #000;
}

.ice {
    background-color: #a4d8f0;
}

.flame {
    background-color: #f76c6c;
}

.laser {
    background-color: #ffd700;
}

.heavy {
    box-shadow: inset 0 0 10px #000000;
}

.longdistance {
    background-image: radial-gradient(circle, transparent 25%, #eee 25%, #eee 75%, transparent 75%, transparent);
    background-size: 20px 20px;
}

.bullet {
    width: 12px;   /* Adjusted to fit within the smaller grid cell */
    height: 12px;  /* Adjusted to fit within the smaller grid cell */
    background-color: black;
    border-radius: 50%; 
    position: relative;
    z-index: 10;
    justify-self: center;
    align-self: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
}

.upgrade-options {
    border: 1px solid #ccc;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    z-index: 1000; 
    width: 300px; 
    border-radius: 5px;
    text-align: center;
}

.upgrade-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border: none;
    cursor: pointer;
    display: block; 
}

.upgrade-button:hover {
    background-color: #e8e8e8;
}

h2 {
    margin: 0 0 20px 0; 
}

