<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
    <title>Tower Defence</title>
</head>

<body>
    <div id="game-grid">
        <table>
            <tbody>
                @for (int i = 0; i < 10; i++)
                {
                    <tr>
                        @for (int j = 0; j < 10; j++)
                        {
                            <td id="cell-@i-@j" onclick="placeTower(@i, @j)"></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/gameHub")
            .build();

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        connection.on("ReceiveTowerPlacement", function (x, y) {
            console.log(`Received tower placement at (${x}, ${y})`); 
            document.getElementById("cell-" + x + "-" + y).classList.add('tower');
        });

        function placeTower(x, y) {
            connection.invoke("PlaceTower", x, y).catch(function (err) {
                return console.error(err.toString());
            });
        }
    </script>

    <style>
        #game-grid table {
            border-collapse: collapse;
        }

        #game-grid td {
            width: 50px;
            height: 50px;
            border: 1px solid black;
            cursor: pointer;
        }

        .tower {
            background-color: red;
        }
    </style>
</body>
